
# large dataset ukmet
# download from link in Progress.md
ukmet/
# large dataset RBC_noslip simulation
dat/
# Converted ipynb to py files
Convert/

# ignore amd_gpu_ssh and amd_gpu_ssh.pub
amd_gpu_ssh
amd_gpu_ssh.pub

# trained models
*.pth
*.pkl

# logs
*.log












