
# large dataset ukmet
# download from link in Progress.md
ukmet/
dat/
Convert/

# ignore amd_gpu_ssh and amd_gpu_ssh.pub
amd_gpu_ssh
amd_gpu_ssh.pub

# trained models
*.pth

# logs
*.log












